:root {
  --primary: #3388FF;
  --accent: #E74C3C;
  --primary-bg: #0F172A;
  --panel-bg: #1F2933;
  --panel-border-color: #374151;
  --text-color: #E5E7EB;
  --natoBlue: #80e0ff;
  --natoRed: #ff8080;
}


* {
  box-sizing: border-box;
}

body, html {
    color: var(--text-color);
    background-color: var(--primary-bg);
    /* overflow: hidden; */
}

.rootContainer {
    margin: 0px;
    padding: 10px;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.headerBar {
    width: 100%;
    height: 5%;
    max-height: 5%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.contentContainer {
    display: flex;
    gap: 10px;
    align-content: space-between;
    flex-direction: row;
    height: 95%;
    min-height: 85%;
    font-size: 10pt;
}

.sidePanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    min-width: 20%;
    max-width: 20%;
}

.scenarioMap {
    min-width: 75%;
    max-width: 75%;
    height: 100%;
}

.leaflet-container {
    flex: 1;
    min-height: 0;
    min-width: 0;
}

.addRadars {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-height: 10%;
}

.SensorSettingsContainer {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 10px;
    min-height: 30%;
    max-height: 30%;
}

.MonostaticCoverageSettingsContainer {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 10px;
    min-height: 20%;
    max-height: 20%;
}

.SensorList {
    min-height: 30%;
    max-height: 30%;
    overflow-y: scroll;
}

.SettingsContainer > * {
    min-width: 0;
}

.PointSelector {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 50%;
}

.PointSelector > input {
    max-width: 45%;
}